.u-section-1 .u-sheet-1 {
  min-height: 888px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1190px;
  margin: 29px auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 740px;
  background-image: url("images/bg.jpg");
  background-position: 50% 26.52%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 28px;
}

.u-section-1 .u-image-2 {
  width: 324px;
  height: 353px;
  margin: -26px auto 0 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: -306px 110px 0 315px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 104px 345px 0 315px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: -161px 168px 0 315px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 110px 270px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 74px 199px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 30px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    min-height: 585px;
  }

  .u-section-1 .u-image-2 {
    height: 352px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -305px;
    margin-right: 0;
    margin-left: 175px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 235px;
    margin-left: 175px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 43px;
    margin-left: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 448px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 190px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 336px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 155px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 149px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 212px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 98px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 94px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 895px;
}

.u-section-2 .u-shape-1 {
  height: 439px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-shape-2 {
  width: 780px;
  height: 673px;
  background-image: none;
  margin: -373px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 656px;
  object-position: 50% 50%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  margin: -579px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-group-1 {
  width: 525px;
  min-height: 499px;
  height: auto;
  background-image: none;
  margin: -656px calc(((100% - 1140px) / 2) + 45px) 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 50px 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  margin: 11px auto 0 0;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 871px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-1 {
    width: 485px;
    height: 645px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 425px;
    min-height: 507px;
    margin-top: -645px;
    margin-right: calc(((100% - 940px) / 2) + 18px);
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1223px;
  }

  .u-section-2 .u-shape-2 {
    width: 589px;
    height: 1091px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-1 {
    width: 438px;
    height: 482px;
    margin-top: -1042px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 556px;
    min-height: 537px;
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 17px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1177px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    height: 1061px;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 374px;
    margin-top: -1012px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}